<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/index.css">
  <title>UrlClipper</title>
</head>

<body>
  <div class="container">
    <h1 class="heading">URL Clipper</h1>
    <section class="urlbox">
      <% if(!locals.copyurl) { %>
      <h1>Enter the URL to be clipped</h1>
      <form action="/shortUrls" method="POST">
          <input required placeholder="Paste your URL here" type="url" name="fullUrl" id="fullUrl">
          <input type="submit" value="Shrink URL">
      </form>
      <%}%>
      <% if(locals.copyurl) {%>
        <h1>Generated short URL is ready</h1>
        <textarea id="content" readonly><%=process.env.HOST_NAME%><%=copyurl%></textarea>
        <input type="button" id="copy" value="Copy URL" />
        <h1 style="margin-bottom:-5px;margin-top:-2px;">Or</h1>
        <img src=<%=src%> alt="" width="120px" height=auto>
    <%}%>
      <p class="boxtextcenter">URL Clipper is a free tool to shorten a URL or reduce a link</p>
    </section>
  </div>
  <div class="info">
    <h2>A fast and simple URL shortener</h2>
    <p class="paragraph_dark_center"><b>URL Clipper</b> for transforming long, ugly links into nice,
      memorable and trackable short URLs. Use it to shorten links for any social media platforms, blogs, SMS,
      emails, ads, or pretty much anywhere else you want to share them. After shorterning the URL, <a
        href="#">check how many clicks it
        received</a>
    </p>
  </div>
  <script>
    const btn = document.getElementById("copy");
    const inp = document.getElementById("content");

    btn.addEventListener("click",function(e){
      e.preventDefault();
      inp.select();
      document.execCommand("copy");
    });
  </script>
</body>

</html>